@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Satoshi';
  src: url('../public/fonts/Satoshi-Variable.ttf');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Satoshi';
  src: url('../public/fonts/Satoshi-Variable.ttf');
  font-weight: normal;
  font-style: normal;
}

header {
  padding-top:24px;
}

body {
  background-color: #0085FF !important;
  overflow: scroll;
}

.redBkg {
  background-color: red;
}

.blueBkg {
  background-color: blue;
}

.greenBkg {
  background-color: green;
}